<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width">
        <title>login</title>
    </head>
    <body>
        <div>main</div>
        <button><a href="/login">로그인</a></button>
    </body>
</html>